<div class="container-wide">
  <nav class="site-nav">
    <h1>Passkeys + Express Demo Dashboard</h1>
    <div class="logout-form">
      <form action="/logout" method="post">
        <input type="submit" value="Logout" />
      </form>
    </div>
  </nav>
  <main class="admin-wrapper">
    <section class="empty-dashboard">
      <img src="/images/banner.jpg" alt="" class="empty-logo grayscale" />
      <p>Your dashboard is currently empty.</p>
    </section>
  </main>
</div>
